.Burger {
  width: 100%;
  max-width: 450px;
  margin: auto;
  height: 300px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 1000px) and (min-height: 700px){
  .Burger {
    height: 400px;
  }
}