.NavigationItem{
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.NavigationItem a{
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  display: block;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
  background: #8f5c2c;
  border-bottom: 4px solid #40A4C8;
  color: #fff;
}